<div style="text-align: right;    direction: rtl;">

	<p>הי <%=@user.full_name%>,</p>
	<br/>
	<p> ביקשת לשחזר סיסמה לאפליקציה.</p>

	<p>על מנת לשחזר סיסמה, עקוב אחרי הלינק המצורף. מיד עם סיום שינוי הסיסמה תוכל להכנס חזרה לאפליקציה</p>

<br/>
	<p style="font-weight: bold;text-decoration: underline;"><%= edit_api_user_password_url(id: @user.reset_password_token) %> </p>
<br/>
	<p> אם לא ביקשת לאפס סיסמה, התעלם מהמייל.</p>

<br/>
<br/>
<br/>


</div>



